{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Edit an Obj {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="description">Describtion</label>
        <textarea name="description" placeholder="Description"
                  class="form-control">{{ posts[1] }}</textarea>
    </div>

    <div class="form-group">
        <label for="corners">Corners</label>
        <textarea name="corners" placeholder="Corners Num Point;X1;Y1;X2..."
                  class="form-control">{{ posts[2] }}</textarea>
    </div>

    <div class="form-group">
        <label for="Xc">Xc</label>
        <input type="text" name="Xc"
               placeholder="Xc" class="form-control"
               value="{{ posts[3] }}"></input>
    </div>

    <div class="form-group">
        <label for="Yc">Yc</label>
        <input type="text" name="Yc"
               placeholder="Yc" class="form-control"
               value="{{ posts[4] }}"></input>
    </div>

    <div class="form-group">
        <label for="Coord system">Coord System</label>
        <input type="text" name="Coord system"
               placeholder="WSG (default)" class="form-control"
               value="{{ posts[5] }}"></input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
{% endblock %}
